.s_certifications {
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
  padding: 75px 0;
}
.s_certifications .container {
  display: flex;
  flex-direction: column;
}
.s_certifications .container .cert_container {
  display: flex;
  justify-content: space-around;
}
.s_certifications .container .cert_container .describe_cert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.s_certifications .container .cert_container .describe_cert img {
  width: 500px;
  height: auto;
  margin-top: 20px;
  transition: all 0.3s ease;
}
@media screen and (max-width: 1000px) {
  .cert_container {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 1000px) {
  .cert_container {
    flex-direction: column;
    align-items: center;
  }
  .cert_container .describe_cert .cert_cisco,
  .cert_container .describe_cert .cert_hp {
    max-width: 350px;
  }
}
