@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdr.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}
body {
  color: #121212;
}
body a {
  color: #121212;
}
body i {
  color: #121212;
  font-size: 22px;
}
body i.icon-github-circled {
  font-size: 24px;
}
.container {
  width: calc(100% - 25%);
  max-width: 1440px;
}
.paralax_section {
  height: 500px;
  background: transparent;
}
@media screen and (max-width: 600px) {
  .paralax_section {
    height: 300px;
  }
}
