@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');

* {
    margin: 0;
    padding: 0; 
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    color: #121212;

    a {
        color: #121212;
    }

    i {
        font-size: 22px;
        &.icon-github-circled {
            font-size: 24px;
        }
    }
}

.container {
    width: calc(100% - 25%);
    max-width: 1440px;
    // padding: 100px 0;
}

.paralax_section {
    min-height: 500px;
    background: transparent;
}