.s_intro {
  display: flex;
  justify-content: center;
  box-shadow: 0 -30px 100px 0px #0c0c0c;
  height: 100vh;
  z-index: 1;
}
.s_intro .container {
  display: flex;
  justify-content: space-around;
}
.s_intro .container .skills {
  display: flex;
  flex-direction: column;
  width: 600px;
}
.s_intro .container .skills .skills-item {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.s_intro .container .skills .border {
  width: 600px;
  height: 2px;
  background-color: #c7c7c7;
}
.s_intro .container .skills .border .border_inside_style {
  background-color: #2196F3;
  height: 2px;
}
.s_intro .container .skills .border .border_in-HTML5 {
  width: 570px;
}
.s_intro .container .skills .border .border_in-CSS3 {
  width: 504px;
}
.s_intro .container .skills .border .border_in-JS {
  width: 402px;
}
.s_intro .container .skills .border .border_in-jQuery {
  width: 516px;
}
.s_intro .container .skills .border .border_in-Sass {
  width: 534px;
}
.s_intro .container .skills .border .border_in-Less {
  width: 582px;
}
.s_intro .container .skills .border .border_in-Gulp {
  width: 372px;
}
.s_intro .container .skills .border .border_in-Python {
  width: 378px;
}
.s_intro .container .skills .border .border_in-Django {
  width: 234px;
}
.s_intro .container .skills .border .border_in-MySql {
  width: 384px;
}
