.s_intro {
    display: flex;
    justify-content: center;
    box-shadow: 0 -30px 100px 0px rgb(12, 12, 12);
    height: auto;
    z-index: 1;

    .container {
        display: flex;
        justify-content: space-around;
        padding-bottom: 100px;

        .skills {
            display: flex;
            flex-direction: column;
            width: calc(100% - 10%);
            padding-left: 5%;
        
            .skills-item {
                display: flex;
                justify-content: space-between;
                margin-top: 30px;
            }

            .border {
                width: 100%;
                height: 2px;
                background-color: rgb(199, 199, 199);

                .border_inside_style {
                    background-color: #42A5F5;
                    height: 2px;
                }
                .border_in-HTML5 {
                    width: 95%;
                }
                .border_in-CSS3 {
                    width: 84%;
                }
                .border_in-JS {
                    width: 67%;
                }
                .border_in-jQuery {
                    width: 86%;
                }
                .border_in-Sass {
                    width: 89%;
                }
                .border_in-Less {
                    width: 97%;
                }
                .border_in-Gulp {
                    width: 62%;
                }
                .border_in-Python {
                    width: 78%;
                }
                .border_in-Django {
                    width: 85%;
                }
                .border_in-MySql {
                    width: 64%;
                }
            }
        }
    }
}
