.s_languages {
  display: flex;
  justify-content: center;
  background-color: #fff;
}
.s_languages .about {
  padding-top: 75px;
  display: flex;
  justify-content: space-around;
  width: 1000px;
}
.s_languages .about .skills {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding-bottom: 40px;
}
.s_languages .about .skills .skills-item {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.s_languages .about .skills .border {
  width: 600px;
  height: 2px;
  background-color: #c7c7c7;
}
.s_languages .about .skills .border .border_inside_style {
  height: 2px;
}
.s_languages .about .skills .border .border_in-En {
  width: 420px;
  background: linear-gradient(to right, blue 15%, #d8d8d8 25%, #d8d8d8 35%, red 45%, red 55%, #d8d8d8 65%, #d8d8d8 75%, blue 85%);
}
.s_languages .about .skills .border .border_in-Ru {
  background: linear-gradient(to right, #d8d8d8 25%, #01589f 35%, #01589f 65%, #d70000 75%);
}
.s_languages .about .skills .border .border_in-Uk {
  background: linear-gradient(to right, #005bbb 45%, #ffd500 55%);
}
.s_languages .about .skills .border .border_in-Ge {
  width: 180px;
  background: linear-gradient(to right, #000000 25%, #dd0000 35%, #dd0000 65%, #ffce00 75%);
}
