.s_languages {
    display: flex;
    justify-content: center;
    box-shadow: 0 -20px 100px 0px rgb(12, 12, 12);
    padding: 75px 0;
    z-index: 1;

    .container {
        display: flex;
        justify-content: space-around;

        .skills {
            display: flex;
            flex-direction: column;
            width: calc(100% - 10%);
            padding-left: 5%;
        
            .skills-item {
                display: flex;
                justify-content: space-between;
                margin-top: 30px;
            }

            .border {
                width: 100%;
                height: 2px;
                background-color: #c7c7c7;

                .border_inside_style {
                    height: 2px;
                    background-color: #66BB6A;
                }

                .border_in-En {
                    width: 70%;
                    // background: linear-gradient(to right, #01589f 15%, #d8d8d8 25%, #d8d8d8 35%, #d70000 45%, #d70000 55%,#d8d8d8 65%, #d8d8d8 75%, #01589f 85%)
                }
                .border_in-Ru {
                    // background: linear-gradient(to right, #d8d8d8 25%, #01589f 35%, #01589f 65%, #d70000 75%)
                }
                .border_in-Uk {
                    // background: linear-gradient(to right, #2979FF 45%, #FFEA00 55%)
                }
                .border_in-Ge {
                    width: 30%;
                    // background: linear-gradient(to right, #000000 25%, #d70000 35%, #d70000 65%, #FFEA00 75%)
                }
            }
        }
    }
}