.s_languages {
  display: flex;
  justify-content: center;
  box-shadow: 0 -20px 100px 0px #0c0c0c;
  z-index: 1;
}
.s_languages .container {
  padding-top: 75px;
  display: flex;
  justify-content: space-around;
}
.s_languages .container .skills {
  display: flex;
  flex-direction: column;
  width: calc(90%);
  padding-left: 5%;
  padding-bottom: 40px;
}
.s_languages .container .skills .skills-item {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.s_languages .container .skills .border {
  width: 100%;
  height: 2px;
  background-color: #c7c7c7;
}
.s_languages .container .skills .border .border_inside_style {
  height: 2px;
  background-color: #66BB6A;
}
.s_languages .container .skills .border .border_in-En {
  width: 70%;
}
.s_languages .container .skills .border .border_in-Ge {
  width: 30%;
}
