.s_university {
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
  height: auto;
  box-shadow: 0 -20px 100px 0px #0c0c0c;
  padding: 100px 0;
  z-index: 1;
}
.s_university .container {
  display: flex;
  justify-content: space-around;
}
.s_university .container .skills {
  display: flex;
  flex-direction: column;
  padding-right: 5%;
  width: calc(100% - 10%);
}
.s_university .container .skills .skills-item {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.s_university .container .skills .border {
  width: 100%;
  height: 2px;
  background-color: #c7c7c7;
}
.s_university .container .skills .border .border_inside_style {
  background-color: #FFA726;
  height: 2px;
}
.s_university .container .skills .border .border_in-C {
  width: 83%;
}
.s_university .container .skills .border .border_in-Java {
  width: 37%;
}
.s_university .container .skills .border .border_in-Alg_and_Ds {
  width: 55%;
}
.s_university .container .skills .border .border_in-DB {
  width: 63%;
}
.s_university .container .skills .border .border_in-CA {
  width: 92%;
}
.s_university .container .skills .border .border_in-CE {
  width: 95%;
}
.s_university .container .skills .border .border_in-Cisco {
  width: 98%;
}
.s_university .container .skills .border .border_in-HP {
  width: 97%;
}
.s_university .container .skills .border .border_in-Web {
  width: 99%;
}
